<!DOCTYPE html>
<html lang="en">
	<head>
		{{> head}}
	</head>
	<body>
		{{pattern name="navigation"}}

		<div class="content">
			{{{body}}}
		</div>
		
		{{pattern name="footer"}}

		{{> foot}}
	</body>
</html>
