<div class="m-hamburger" data-t-name="Hamburger">
    <div class="m-hamburger__hamburger-menu js-hamburger-item m-hamburger--menu-item-active">
    <span class="fas fa-bars"></span>
    </div>
    <div class="m-hamburger__cross-menu js-hamburger-item">
        <span class="fas fa-times"></span>
    </div>
</div>