<div class="m-hamburger" data-t-name="Hamburger">
    <div class="m-hamburger__hamburger-menu js-hamburger-item m-hamburger--menu-item-active">
        <i class="fas fa-bars"></i>
    </div>
    <div class="m-hamburger__cross-menu js-hamburger-item">
        <i class="fas fa-times"></i>
    </div>
</div>