<div class="m-footer" data-t-name="Footer">
    <footer class="m-footer__container">
        <div class="m-footer__contact-icons">
            <h2 class="m-footer__socialnetwork">Contact me</h2>
            <div class="m-footer__icon-container">
                <a href="https://www.google.ch" class="m-footer-image__icon">
                    <span class="m-footer__icon fab fa-google"></span>
                </a>
                <a href="https://www.linkedin.com/in/semhar-sium/" class="m-footer-image__icon">
                    <span class="m-footer__icon fab fa-linkedin-in"></span>
                </a>
                <a href="#" class="m-footer-image__icon">
                    <span class="m-footer__icon fab fa-facebook-f"></span>
                </a>
                <a href="mailto:semhar50@gmail.com?" target="_top" class="m-footer-image__icon">
                    <span class="m-footer__icon far fa-envelope"></span>
                </a>
            </div>
        </div>
        <div class="m-footer__paragraph">
            <p>Copyright@semhar.com</p>
        </div>
    </footer>

</div>