.a-button{
    &--navigation-hamburger{
        background: none;
        position: absolute;
        top: 13px;
        right: 16px;
        color: #ffc900;
        border: 0;
        font-size: 1.4em;
        font-weight: bold;
        cursor: pointer;
    }
}
