{{pattern name="spacer"}}
<div class="sheep__container">
        <h1 class="sheep__heading">project one</h1>
        <p class="paragraph__content">
            My first project was the sheep, I did this, because my coach "Lars" wants to see how I can do with the basic html and css and a littel JavaScript.
        <div class="tasks__container">
            <h2 class="heading__smaller">Types of languages used</h2>
            <l>
                <li class="list__tasks list__tasks-one">html</li>
                <li class="list__tasks list__tasks-two">css</li>
                <li class="list__tasks list__tasks-three"> a little Js for the onclick button and on hover</li>
            </l>
        </div>
        <a class="projectlink" href="https://semharsium.github.io/project-sheep/">project link</a>

        <pre class="prettyprint">
        $('.container').slick({ 
            slidesToshow:1,
            slidesToScroll:1,
            arrows: true,
            dots: true,
            autoplay: true,
            autoplayspeed: 2000,
        });          
        </pre>

    </div>
    {{pattern name="spacer" modifier="large"}}