.m-navigation {
	background: black;
	border-bottom: 4px solid #ffc900;

	&__left-side, &__right-side {
		height: 100%
	}

	&__right-side {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__menu{
		width: 100%;
		&-item{
			color: white;
    		text-decoration: none;
    		font-family: "Roboto Mono", monospace;
    		font-size: 25px;
		}
	
	}
	&__logo-container{
		width: 100%;
		height: 90px;
		padding: 10px;
	}

	
}

