@import "../../../../shared/utils/grid/css/grid.scss";

$pattern: "m-navigation";

.m-navigation {
  background: black;
  border-bottom: 4px solid #ffc900;

  &__left-side,
  &__right-side {
    height: 100%;
  }

  &__right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
  }

  &__menu {
    width: 100%;
    @include media-breakpoint-up(xs) {
      display: none;
    }

    @include media-breakpoint-up(sm) {
      display: none;
    }
    @include media-breakpoint-up(md) {
      display: block;
    }

    @include media-breakpoint-up(lg) {
      display: block;
    }

    &-item {
      color: white;
      text-decoration: none;
      font-family: "Roboto Mono", monospace;
      font-size: 23px;
    }
  }

  &__logo-container {
    width: 100%;
    height: 90px;
    padding: 10px;
    padding-left: 0px;
  }

  &__hamburger-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
  &--menu-active {
    display: block;
  }
}
