

	<div class="row">
		<div class="col-md-4 offset-md-4">
			{{pattern name="heading" data="heading-aboutme"}}
		</div>
	</div>
	<div class="row">
		 <div class="col-sm-6">
			 <div class="aboutme__image-container">
				 {{pattern name="image" data="image-aboutme"}}
			 </div>
		</div>
		<div class="col-sm-6">
		</div>
	</div>


