<div class="m-navigation" data-t-name="Navigation">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="m-navigation__left-side">
					<div class="container">
						<div class="row">
							<div class="col-6 col-sm-6 col-md-12">
								<div class="m-navigation__logo-container">
									{{pattern name="image" data="image-navigation-logo"}}
								</div>
							</div>
							<div class="col-6 col-sm-6 col-md-12">
								<div class="m-navigation__hamburger-container">
									{{pattern name="hamburger"}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="m-navigation__right-side">
					<div class="m-navigation__menu js-navigation-menu">
						<div class="container">
							<div class="row">
								<div class="col-12 col-md-4">
									<a class="m-navigation__menu-item" href="/">Home</a>
								</div>
								<div class="col-12 col-md-4">
									<a class="m-navigation__menu-item" href="/aboutme">AboutMe</a>
								</div>
								<div class="col-12 col-md-4">
									<a class="m-navigation__menu-item" href="/projects">Projects</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>