@import "../../../../shared/utils/grid/css/grid.scss";
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

.m-slider {
  height: 0;
  &.slick-initialized {
    height: auto;
  }
  .slick-slide,
  .slick-slide > div {
    height: 50vw;
    @include media-breakpoint-up(md) {
      height: 37vw;
    }
  }
  &.m-slider {
    .slick-prev {
      z-index: 1;
      left: 35px;
    }
    .slick-next {
      z-index: 1;
      right: 35px;
    }
    .slick-prev,
    .slick-next {
      &::before,
      &:hover::before,
      &:focus::before {
        color: white;
        font-size: 35px;
      }
    }
  }
}

